<div class="container">
  <h1 class="header">CONTACT US</h1>
  <h2 class="secondary-header">SPEAK TO CUSTOMER SERVICE</h2>
  <p>
    If you have any questions about a product, order update or an issue that
    needs attention please contact our Customer Service Team.
  </p>
  <ul>
    <li class="li">Call +84 394 702 439</li>


    <li class="li">mail - Musicstore@gmail.com</li>
  </ul>
  <h1 class="opening-hours-header">OPENING HOURS</h1>
  <h3 class="days">Everyday</h3>
  <ul>
    <li class="li">07:00-23:00</li>
  </ul>
</div>