<div *ngIf="_ShoppingService.showFooter" class="container">
  <div class="main-section">
    <div class="about-us-container">
      <h2>ABOUT US</h2>
      <p class="detils">
        Le Khoi Nguyen <br />
        Nguyen Trung Trien<br><br>
      </p>
    </div>
    <div class="logos">
      <div class="stars">
        <img class="stars-image"
          src="https://2.bp.blogspot.com/-d5x-PDlQoEs/Vsdxv7GpWeI/AAAAAAAAAgA/1N19GncPJVg/s1600/4ib4oodKT.png"
          alt="start-image" />
      </div>
      <div class="shop-logo-container"></div>
      <div class="media-icons-container">
        <div>
          <img class="media-icon" src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png"
            alt="facebook-icon" />
        </div>
        <div>
          <img class="media-icon"
            src="https://cdn3.iconfinder.com/data/icons/social-media-circle/512/circle-twitter-512.png"
            alt="twitter-icon" />
        </div>
        <div>
          <img class="media-icon"
            src="https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/instagram-512.png"
            alt="instagram-icon" />
        </div>
        <div>
          <img class="media-icon"
            src="https://icons-for-free.com/iconfiles/png/512/round+icon+video+youtube+icon-1320190508546598347.png"
            alt="youtube-icon" />
        </div>
      </div>
      <img class="shop-logo" (click)="backToPageTop()"
        src="https://phuongan0tuoi.files.wordpress.com/2010/05/treblecleff.jpg" alt="shop-logo" />
    </div>
  </div>
  <div class="bottom-section">
    <div class="copyright-container">
      <p class="copyrights">
        Music Shop All rights reserved.
      </p>
    </div>
    <div class="cards-logo-container">
      <img class="logo" src="https://www.gear4music.com/dist/images/payment/mastercard-rect-2x.png" alt="" />
      <img class="logo" src="https://www.gear4music.com/dist/images/payment/visa-rect-2x.png" alt="" />
      <img class="logo" src="https://www.gear4music.com/dist/images/payment/amex-rect-2x.png" alt="" />
      <img class="logo"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaaLaG-NPw4VqABXoYjQgVJkRYfYDqv4PSvRp0ZcyX-ha-WEBQvWFe8lM-3fFn_PWrh0A&usqp=CAU"
        alt="" />
      <img class="logo" src="https://www.gear4music.com/dist/images/payment/30-2x.png" alt="" />
    </div>
  </div>