<div class="container">
  <mat-card class="item-card">
    <div class="item-image-container">
      <img class="item-image" src="{{ product.product_images[0] }}" alt="img" />
    </div>

    <div class="item-name-container">
      <h3 (click)="goToSelectedItem(product._id)" class="item-name">
        {{ product.product_name }}
      </h3>
    </div>
    <div class="item-price-container">
      <h3 class="item-price">{{ product.product_price | number: "2.2" }} $</h3>
    </div>
    <div *ngIf="_AuthService.currentUser.isAdmin" class="icons-container">
      <div class="edit-icon-container">
        <img (click)="openAdminEditDialog(product._id)" matTooltip="EDIT" class="edit-icon"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtJFy05oXlIRpBMwcCE5i9c_9U19niy7fLFgwB7fuBYsy5orQuPyRdmBM8FMz0nhowryI&usqp=CAU"
          alt="edit icon" />
      </div>
      <div class="delete-icon-container">
        <span matTooltip="DELETE" (click)="openDeleteWarningDialog(product._id)" class="material-icons">
          delete
        </span>
      </div>
    </div>
  </mat-card>
</div>